<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bag of Tricks</title>
    <style>
      pre {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <pre>{{ character }}</pre>
  </body>
</html>
